*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
h1 {
	color: red;
	font-size: 20px;
	text-align: center;
}
section li {
	list-style: none;
}
a:link, a:visited {
	text-decoration: none;
	background-color: green;
	border: 1px solid yellow;
	color: black;
	text-align: center;
	display: block;
	width: 200px;
	margin-bottom: 1px;
}
a:hover {
	background-color: red;
	color: yellow;
}

p {
	float: left;
	width: 50%;
	padding: 30px;
}